<div className="widget">
        <h6>Введите имя пользователя и<br />название репозитория</h6>
        {{!-- <form onSubmit={onUserSubmit}> --}}
          <Input
            class="logon_user"
            @value={{this.logOnUser}}
            name="logOnUser"
            {{!-- onBlur={onUserBlur} --}}
            placeholder="Имя пользователя"
            {{!-- ref="logOnRef" --}}
            type="text"
          >
        {{!-- </form> --}}
        {{!-- <br />
        <Select
          data={repositories}
          emptySelectValue={consts.EMPTY_SELECT_VALUE}
          label=""
          name="logOnRepository"
          onChange={onRepositoriesChange}
          placeholder="Название репозитория"
          selectClass="logon_repos"
          showEmptySelect
          value={logOnRepository}
          valueName="name"
        />
        <br />
        <br /> --}}
        {{!-- <p>{!error ? '' : error}</p> --}}
        <LinkTo @route="issues-table" class="button">Загрузить</LinkTo>
      </div>