<div class="menu">
      <div class="links">
      <LinkTo @route="index" class="menu-index">
            Главная
      </LinkTo>
      <LinkTo @route="about" class="menu-about">
            О нас
      </LinkTo>
      <LinkTo @route="contact" class="menu-contact">
            Контакты
      </LinkTo>
      </div>
</div>