<Widget>
  {{!-- <h2>Welcome to Github Issues!</h2>
  <p>Здесь будет страница с вводом имени пользователя и репозитория</p> --}}
  <Logon />
  <LinkTo @route="issues-table" class="button">Загрузить</LinkTo>
</Widget>